---
bootstrap: 	"bower_components/bootstrap/dist"
jquery: 	"bower_components/jquery/dist"
---
<!DOCTYPE html>
<html>
	<head>
		<!-- GitHub icons and styles -->
		<link rel="stylesheet" href="{{assetPaths.css.octicons}}"/>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{assetPaths.css.bootstrap}}"/>
		<link rel="stylesheet" href="{{assetPaths.css.bootstrapTheme}}"/>
		<script src="{{assetPaths.js.jquery}}"></script>
		<script src="{{assetPaths.js.bootstrap}}"></script>

		<!-- Site styles -->
		<link rel="stylesheet" href="{{assets}}/css/style.css"/>
	</head>
	<body>
		
	</body>
	<div id="header">
		{{#markdown}} {{> body }} {{/markdown}}
	</div>
	<div class="container-fluid" id="feeds">
		<div class="row">
			{{#compose src="<%= feeds %>"}}
				<div class="col-md-4">
					<h4 class="feed-header">{{@title}}</h4>
					{{{@content}}}
				</div>
			{{/compose}}				
		</div>
	</div><!-- #feeds -->
</html>