---
links:
    - title: GitHub
      link:  https://github.com/manleyjster
      external: true
    - title: Blog
      link:  /blog  
    - title: Out of the Yards
      link:  http://outoftheyards.com
      external: true
    - title: Portfolio
      link:  http://justinmanley.portfoliobox.me/
      external: true
    - title: Work
      link:  /work
    - title: Archive
      link:  /archive
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{title}} {{#if title}}&middot;{{/if}} justinmanley.io</title>

		<link rel="icon" type="image/png" href="{{assets}}/images/favicon.ico"/>

		<!-- GitHub icons and styles -->
		<link rel="stylesheet" href="{{include.css.octicons}}"/>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{include.css.bootstrap}}"/>
		<link rel="stylesheet" href="{{include.css.bootstrapTheme}}"/>
		<script src="{{include.js.jquery}}"></script>
		<script src="{{include.js.bootstrap}}"></script>

		<!-- FontAwesome -->	
		<link rel="stylesheet" href="{{include.css.fontAwesome}}"/>
		
		<!-- LiveReload (development) -->
		<script src="http://localhost:35729/livereload.js"></script>

		<!-- Twitter javascript -->
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<!-- Site styles -->
		<link rel="stylesheet" href="{{assets}}/css/style.css"/>
	</head>
	<body>
		<div class="header">
			<h2 class="brand"><a href="/">Justin Manley</a></h2>
			<p>Coder, mapmaker, aspiring architecture critic, currently a student at the University of Chicago. I write about cities at <a href="http://outoftheyards.com.">outoftheyards.com</a>.</p>	
		</div>
		<div class="navbar" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links">
						<span class="sr-only">Toggle Navigation</span>
						<span class="glyphicon glyphicon-justify"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="nav-links">
					<ul class="nav navbar-nav">
					{{#each links}}
						<li><a href="{{this.link}}">
							{{this.title}}
							{{#if this.external}}
								<span class="nav-external-link glyphicon glyphicon-new-window"></span>
							{{/if}}
						</a></li>
					{{/each}}
					</ul>
				</div>
			</div>
		</div>
		{{> body }}
		<footer class="footer">
			<div class="social-media">
				<a href="www.linkedin.com/in/justinmanley/" target="_blank">
					<span class="fa fa-linkedin"></span>
				</a>
				<a href="https://github.com/manleyjster" target="_blank">
					<span class="fa fa-github"></span>
				</a>
				<a href="https://twitter.com/outoftheyards" target="_blank">
					<span class="fa fa-twitter"></span>
				</a>
				<a href="mailto:manleyjster@gmail.com" target="_blank">
					<span class="fa fa-envelope"></span>
				</a>		
			</div>
			<div class="attributions">
				{{#markdown}}This site was generated on {{moment format="MMM Do, YYYY"}} with [Grunt](http://gruntjs.com/) and [Assemble](http://assemble.io/) using fonts and icons from [Glyphicons](http://glyphicons.com/), [Font Awesome](http://fortawesome.github.io/Font-Awesome/), and [The League of Moveable Type](https://www.theleagueofmoveabletype.com/).{{/markdown}}				
			</div>		
		</footer>	
	</body>
</html>