---
links:
    - title: GitHub
      link:  https://github.com
    - title: Blog
      link:       
    - title: Out of the Yards
      link:  http://outoftheyards.com
    - title: Portfolio
      link:  link/to/portfolio
    - title: Demos
      link:  /link/to/demos
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>

		<!-- GitHub icons and styles -->
		<link rel="stylesheet" href="{{include.css.octicons}}"/>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{include.css.bootstrap}}"/>
		<link rel="stylesheet" href="{{include.css.bootstrapTheme}}"/>
		<script src="{{include.js.jquery}}"></script>
		<script src="{{include.js.bootstrap}}"></script>

		<script src="http://localhost:35729/livereload.js"></script>

		<!-- Twitter javascript -->
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<!-- Site styles -->
		<link rel="stylesheet" href="{{assets}}/css/style.css"/>
	</head>
	<body>
		
	</body>
	<div id="header">
		{{#markdown}} {{> body }} {{/markdown}}
	</div>
	<div class="navbar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
					<span class="sr-only">Toggle Navigation</span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="nav-links">
				<ul class="nav navbar-nav">
				{{#each links}}
					<li><a href="{{this.link}}">{{this.title}}</a></li>
				{{/each}}
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="feeds">
		<div class="row">
			{{#compose src="<%= feedConfig.dest.feed %>"}}
				<div class="col-md-4 feed">
					{{{@content}}}
				</div>
			{{/compose}}

			{{#compose src="<%= feedConfig.dest.article %>"}}
				<div class="col-md-8 feed">
					{{{@content}}}
				</div>
			{{/compose}}					
		</div>
	</div><!-- #feeds -->
</html>