<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>

		<!-- GitHub icons and styles -->
		<link rel="stylesheet" href="{{include.css.octicons}}"/>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{include.css.bootstrap}}"/>
		<link rel="stylesheet" href="{{include.css.bootstrapTheme}}"/>
		<script src="{{include.js.jquery}}"></script>
		<script src="{{include.js.bootstrap}}"></script>

		<script src="http://localhost:35729/livereload.js"></script>

		<!-- Site styles -->
		<link rel="stylesheet" href="{{assets}}/css/style.css"/>
	</head>
	<body>
		
	</body>
	<div id="header">
		{{#markdown}} {{> body }} {{/markdown}}
	</div>
	<div class="container-fluid" id="feeds">
		<div class="row">
			{{#compose src="<%= feeds %>"}}
				<div class="col-md-4">
					<h4 class="feed-header">{{@title}}</h4>
					{{{@content}}}
				</div>
			{{/compose}}			
		</div>
	</div><!-- #feeds -->
</html>